
.say-block-container{

position: relative;
align-items: center;
text-align: center;
margin-right: 4px;
margin-bottom: 10px;

}

.say-photo-container{
    position: absolute;
    width: 110px;
    height: 70px;
    margin-left: 0%;
    margin-bottom: 2px;
 

}

.say-text-container{
position: absolute;
margin-top: 15px;
margin-left: 110px;
width: 80px;
font-weight: bolder;
}